/* all css properties for calculator */
body{
    background-image: url(img.jpg);
}
/* calculator body */
.mbody{
border: 2px solid black;
max-width: 279px;
border-radius: 15px;
background-color:rgb(228, 228, 188);
position: relative;
top: 70;
padding:10 10 10 12;
}
tbody td {
border:none; 
padding: 0px;
}
/* buttons style */
button{
    width: 50;
    height:60;
    padding: 10px 20px;
    background-color: #2e384f;
    color: white;
    border: none;
    border-radius:50px;
    padding-left: 15;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*for shadow effect */
    transition: transform 0.3s, box-shadow 0.3s; /*for hover effect */
}
/* button effects */
button:hover {
transform: translateY(-5px); /*on hover amount of button lift */
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* amount of shadow*/
}
/* css for different style button */
.operatorbutton{
background-color:  rgba(25, 91, 108, 0.824);
}
.numbutton{
background-color: rgb(205, 127, 26);
}
.displayInput{
margin-bottom: 10;
height:70;
border: 100px;
border-radius: 10px;
width: 250; 
background-color: rgba(5, 77, 77, 0.566);
}